<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Challanges Banks</title>
</head>
<body>
    <div>
        <h1>U have some error, go back to home</h1>
        <hr>
        <a class="btn btn-primary" href="/">Back To Home</a>
    </div>
</body>
</html>