<%- include('./partials/header.ejs') %>
<br><br>
<div class="container">
    <form action="/loginSign/userRegister" method="post">
        <div class="row">
            <div class="col">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="col">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div><br>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" class="form-control" name="email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        
        <div class="row">
            <div class="col">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="First name">
            </div>
            <div class="col">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
            </div>
        </div><br>
        <div class="form-check">
            <label for="role">Role: </label><br>
            <input class="form-check-input" type="radio" name="role" value="student" checked>
            <label class="form-check-label" for="role">Student</label><br>
            <input class="form-check-input" type="radio" name="role" value="teacher">
            <label class="form-check-label" for="role">Teacher</label>
        </div><br>
        <label for="grade">Class</label>
        <input type="text" class="form-control" name="grade" placeholder="e.g: VII"><br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>