<%- include('./partials/header.ejs') %>

<div class="container"  style="text-align: center;">
    <br>
    <h1>Student Challanges</h1>
    <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
</div>